test-project/modm
test-project/test-project/build_tools
test-project/test-project/modm
test-project/test-project/sim-modm
test-project/test-project/src/aruwlib
test-project/test-project/openocd.cfg
test-project/test-project/project.xml
test-project/test-project/SConstruct
test-project/test-project/build
test-project/test-project/test
test-project/test-project/src/drivers.hpp
test-project/**/project.xml.log
.vscode/.cortex-debug.peripherals.state.json
.vscode/.cortex-debug.registers.state.json
.sconsign.dblite
*.pyc
docs/_build
docs/api
docs/doxyoutput
gcov-result
