[submodule "modm"]
	path = modm
	url = https://github.com/modm-io/modm.git
[submodule "taproot-scripts"]
	path = taproot-scripts
	url = https://gitlab.com/aruw/controls/taproot-scripts.git
[submodule "ext/littlefs"]
	path = ext/littlefs-project/littlefs
	url = https://github.com/littlefs-project/littlefs
